{
  "parser": "babel-eslint",
  "plugins": [
    "flow-vars"
  ],
  "rules": {
    "flow-vars/define-flow-type": 1,
    "flow-vars/use-flow-type": 1,
    "quotes": [
      2,
      "single"
    ],
    "linebreak-style": [
      2,
      "unix"
    ],
    "semi": [
      2,
      "always"
    ],
    "indent": [
      2,
      2,
      {
        "SwitchCase": 1
      }
    ],
    "no-func-assign": 0,
    "no-constant-condition": 0,
    "no-multiple-empty-lines": [
      2,
      {
        "max": 2,
        "maxEOF": 1
      }
    ],
    "curly": [
      2,
      "multi",
      "consistent"
    ],
    "eol-last": [
      2,
      "unix"
    ]
  },
  "globals": {
    "module": false,
    "inject": false,
    "jasmine": false,
    "expectToEqual": false,
    "expectStreamToContainItem": false,
    "spyOn": false,
    "it": false,
    "describe": false,
    "expect": false,
    "beforeEach": false,
    "afterEach": false,
    "waits": false,
    "waitsFor": false,
    "runs": false,
    "convertNvDates": false,
    "patchRateLimit": false,
  },
  "env": {
    "es6": true,
    "browser": true
  },
  parserOptions: {
    ecmaVersion: 6,
    sourceType: "module"
  },
  "extends": "eslint:recommended"
}
